footer {
  background: var(--base-color);

  & .logo {
    display: inline-block;
    margin-bottom: 1.5rem;
  }

  & .brand p {
    color: var(--text-color-light);
    margin-bottom: 0.75rem;
  }

  & i {
    color: var(--text-color-light);
    font-size: 1.5rem;
  }

  & .social a {
    margin-right: 2rem;
    transition: .3s;
    display: inline-block;

    &:hover {
      transform: translateY(-15px);
    }
  }
}

.back-to-top {
  background-color: var(--base-color);
  color: var(--text-color-light);
  position: fixed;

  right: 1rem;
  bottom: 1rem;

  padding: .5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;
  
  transition: .3s;
  transform: translateY(100%);
  
  &.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}