#home {
  overflow: hidden;
  
  .container {
    margin: 0;
  }
  
  .img-container {
    position: relative;
    
    &::before {
      content: '';
      height: 100%;
      width: 100%;
      background: var(--base-color-second);
      position: absolute;
      top: -16.8%;
      left: 16.7%;
      z-index: 0;
    }
  
    img {
      position: relative;
    
      right: 2.93rem;
    }
  }
  
  .text-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
    
    h1 {
      margin-bottom: 1rem;
    }
    
    p {
      margin-bottom: 2rem;
      max-width: 100%;
    }
  }
  
  .img-container img,
  .img-container::before {
    border-radius: .25rem;
  }
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  padding: 0 2rem;

  display: inline-flex;
  align-items: center;

  font: 500 1rem 'DM Sans', sans-serif;

  height: 3.5rem;
  border-radius: .25rem;

  transition: background-color .3s;
  
  &:hover {
    background-color: var(--base-color-alt);
  }
}